*{
  font-family: 'Noto Sans Mono', monospace;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: mistyrose;
}
.bar_view {
  width: 3px;
  /* height: 50px; */
  background-color: blueviolet;
  align-items: flex-end;
  display: inline-block;
  margin: 2px;
}

#array {
  justify-content: space-evenly;
}
.input_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.input_container div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

.makecol div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
label {
  margin: 2px;
}
input {
  margin: 2px;
}
button {
  margin: 5px;
  background-color: green;
  color: white;
}
